#profile {
  border: 5px solid black;
  width: 400px;
  margin: inherit;
  float: left;
  padding: 7px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color
}

/* .form-group {
  margin: 10px;
  float: left;

} */