#profile {
  border: 5px solid black;
  width: 400px;
  margin: inherit;
  float: left;
  padding: 7px;
}

#present {
  display: none;
  border: 5px solid black;
  width: 400px;
  margin: inherit;
  float: right;
  padding: 7px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  
}


/* .form-group {
  margin: 10px;
  float: left;

} */